@{
    ViewData["Title"] = "Bible Title";
}
<body ng-app="appBibleContents" ng-controller="controllerBibleContents as bible">
    <div class="navbar navbar-fixed-top" ng-controller="controllerBibleSettings as bibleSettings">
        <div class="container">
            <div class="navbar-header">

            </div>

            <ul id="menuTabs" class="nav nav-tabs" role="tablist">
                <li><a asp-controller="Home" asp-action="Index">ChurchHelper</a></li>
                <li><a role="tab" data-toggle="tab" href="#divContent" aria-controls="content">Contents</a></li>
                <li><a role="tab" data-toggle="tab" href="#divDisplay" aria-controls="display">Display</a></li>
                <li><a role="tab" data-toggle="tab" href="#divSearch" aria-controls="search">Search</a></li>
                <li><a role="tab" data-toggle="tab" href="#divSettings" aria-controls="settings">Settings</a></li>

                <li style="float: right"><button type="button" class="glyphicon glyphicon-off" onclick=" dvMessage.innerHTML = '';"></button>
                </li>
                <li style="float: right">
                    <input class="form-control" style="width: 70px" type="number" min="1" max="10" ng-click="bibleSettings.setVersesPerPage()" ng-model="bibleSettings.settings.versesPerPage" ng-init="bibleSettings.settings.versesPerPage" ng-change="bible.clickVersesPerPage()" />
                </li>
                <li style="float: right">
                    <select class="form-control" ng-model="selectedItem" ng-change="bibleSettings.setBibleId(selectedItem)" ng-init="selectedItem='1'">
                        <option ng-repeat="item in bibleSettings.bibles"  value="{{item.id}}">{{item.name}}</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>

        <div id="dvMessage" class="text-danger"> </div>
        <div class="tab-content" id="divPanels" role="tablist" aria-multiselectable="true">
            <div id="divContent" class="tab-pane active" role="tabpanel">
                @Html.Partial("~/Views/Bible/_BibleContent")
            </div>
            <div id="divDisplay" class="tab-pane" role="tabpanel">
                @Html.Partial("~/Views/Bible/_BibleDisplay")
            </div>
            <div id="divSearch" class="tab-pane" role="tabpanel">
                @Html.Partial("~/Views/Bible/_BibleSearch")
            </div>
            <div id="divSettings" class="tab-pane" role="tabpanel">
                @Html.Partial("~/Views/Bible/_BibleSettings")
            </div>
        </div>

</body>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("/js/ngBibleContents.js")"></script>
}










